{{$host := .host}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Podcastd</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      span {
        color: #777;
        font-size: 90%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>podcast<u>d</u> feeds</h1>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="movies-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#movies" aria-expanded="true" aria-controls="movies">
                    Movies
                  </a>
                  <span class="pull-right">http://{{.host}}/feed/movies</span>
                </h4>
              </div>
              <div id="movies" class="panel-collapse collapse" role="tabpanel" aria-labelledby="movies-heading">
                <div class="panel-body">
                  <ul>
                    {{range .movies}}
                    <li><a href="http://{{$host}}/media/movies/{{.Filename}}">{{.Filename}}</a></li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="tvshows-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#tvshows" aria-expanded="true" aria-controls="tvshows">
                    TVShows
                  </a>
                  <span class="pull-right">http://{{.host}}/feed/tvshows</span>
                </h4>
              </div>
              <div id="tvshows" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tvshows-heading">
                <div class="panel-body">
                  <div class="panel-group" id="tvshows-accordion" role="tablist" aria-multiselectable="true">
                    {{range $show, $episodes := .tvshows}}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="{{(index $episodes 0).Slug}}-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#tvshows-accordion" href="#{{(index $episodes 0).Slug}}" aria-expanded="true" aria-controls="{{(index $episodes 0).Slug}}">
                            {{$show}}
                            <span class="pull-right">http://{{$host}}/feed/tvshows/{{(index $episodes 0).Slug}}</span>
                          </a>
                        </h4>
                      </div>
                      <div id="{{(index $episodes 0).Slug}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{(index $episodes 0).Slug}}-heading">
                        <div class="panel-body">
                          <ul>
                            {{range $episodes}}
                            <li><a href="http://{{$host}}/media/tvshows/{{$show}}/{{.Filename}}">{{.Filename}}</a></li>
                            {{end}}
                          </ul>
                        </div>
                      </div>
                    </div>
                    {{end}}
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="audio-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#audio" aria-expanded="true" aria-controls="audio">
                    Audio
                  </a>
                  <span class="pull-right">http://{{.host}}/feed/audio</span>
                </h4>
              </div>
              <div id="audio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="audio-heading">
                <div class="panel-body">
                  <ul>
                    {{range .audio}}
                    <li><a href="http://{{$host}}/media/audio/{{.Filename}}">{{.Filename}}</a></li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="video-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#video" aria-expanded="true" aria-controls="video">
                    Video
                  </a>
                  <span class="pull-right">http://{{.host}}/feed/video</span>
                </h4>
              </div>
              <div id="video" class="panel-collapse collapse" role="tabpanel" aria-labelledby="video-heading">
                <div class="panel-body">
                  <ul>
                    {{range .video}}
                    <li><a href="http://{{$host}}/media/video/{{.Filename}}">{{.Filename}}</a></li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
